<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles", media: "all" %>
  <%= stylesheet_link_tag "flipclock" %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag "flipclock" %>
</head>

<body style="text-align:center;background-color:orange;">
  <div id="confirm">
    <%= form_tag("/countdowns/#{@countdown.id}/ending", method: "get") do %>
      <%= label_tag(:launch, "Launch Code Entered. Are you sure you want to resume the launch sequence?") %>
      <%= hidden_field_tag(:launch, @countdown.launch_code) %>
      <p></p>
      <%= submit_tag "Yes" %>
    <% end %>
    <%= button_to "No","/countdowns/#{@countdown.id}", method: "get" %>
  </div>
</body>

