<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles", media: "all" %>
  <%= stylesheet_link_tag "flipclock" %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag "flipclock" %>
</head>

<body style="background-color: lightskyblue">
  <div id="text-input">
    <p class="alert" style="text-align:center; font-size:large"><%= alert %></p>
    <p style="text-align:center; font-size:large">Countdown Paused.</p>
    <p></p>
    <%= form_tag("/countdowns/#{@countdown.id}/search", method: "get", id:"pause-form", autocomplete:"off") do %>
      <%= label_tag(:q, "Please enter the launch code to resume countdown sequence:") %>
      <p style="text-align:center;">
        <%= text_field_tag(:q, nil, style: "text-align:center;", placeholder: "-" * @countdown.launch_code.length, autocomplete:"off") %>
      </p>
      <%= submit_tag "Submit", style: "display:none;" %>
    <% end %>
  </div>

  <div id="game-over" style="display:none;">
    <h1 style="text-align:center;">Thanks for playing 'Cuban Missile Crisis: Again!'</h1>
    <h2 style="text-align:center;">Nuclear war has been averted. You may all go home now.  Well done.</h2>

    <iframe src="https://giphy.com/embed/mGsD7CqJnZTQA" width="480" height="305" frameBorder="0" id="island"></iframe>
  </div>

  <%= content_tag :div, class: "temp_information", data: {countdown: @countdown, lockout_remaining: @countdown.lockout_remaining, time_remaining: @countdown.time_remaining, pause_duration: @countdown.pause_duration} do %>
  <% end %>
</body>

<script type="text/javascript">
  var clock = $('.clock').FlipClock(0, {
    countdown: true
  });
</script>

<script>
  var countdown = $('.temp_information').data('countdown')
  var lockout_remaining = $('.temp_information').data('lockoutRemaining')
  var time_remaining = $('.temp_information').data('timeRemaining')

  $('#q').bind('input propertychange', function() {
    var input = $("#q").val().replace(/-/g, "");
    var position = input.length
    var times = countdown.launch_code.length - position;
    var new_input_text = input
    for(var i=0; i < times; i++){
      new_input_text += "-";
    }
    $("#q").val(new_input_text);
    if (times == 0 ) {
      $( "form" ).trigger( "submit" );
    }
    $("#q").focus().setCursorPosition(position);
  });

  $.fn.setCursorPosition = function (pos) {
      this.each(function (index, elem) {
          if (elem.setSelectionRange) {
              elem.setSelectionRange(pos, pos);
          } else if (elem.createTextRange) {
              var range = elem.createTextRange();
              range.collapse(true);
              range.moveEnd('character', pos);
              range.moveStart('character', pos);
              range.select();
          }
      });
      return this;
  };
</script>

<script>
  function getPauseDuration() {
    window.location.reload(true)
  }

  var pause_duration = $('.temp_information').data('pauseDuration')
  if (pause_duration > 1800 ) {
    console.log("end")
    $('#text-input').hide();
    $('#game-over').show();
    $('body').attr('style', 'background:yellow')
    clearInterval(checkPauseDuration);
  } else if (pause_duration > 120) {
    console.log("show")
    $('#pause-form').show();
  }

  if (pause_duration < 1800 ) {
    var checkPauseDuration = setInterval(getPauseDuration, 15000);
  }
</script>