<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles", media: "all" %>
  <%= stylesheet_link_tag "flipclock" %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag "flipclock" %>
</head>

<body>
  <div id="clock-container" style="display:none">
    <h1 id="#clock-title">Countdown Clock</h1>
    <div id="clockdiv">
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="clock"></div>
    <p class="alert" style="text-align:center; font-size:large"><%= alert %></p>
  </div>

</body>

<script type="text/javascript">
  var clock = $('.clock').FlipClock(0, {
    countdown: true
  });
</script>
