<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "styles", media: "all" %>
  <%= stylesheet_link_tag "flipclock" %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag "flipclock" %>
</head>

<body>
  <div id="clock-container" style="display:none">
    <h1 id="#clock-title">Countdown Clock</h1>
    <div id="clockdiv">
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="clock"></div>
    <p class="alert" style="text-align:center; font-size:x-large"><%= alert %></p>
  </div>

  <div id="text-input">
    <p></p>
    <%= form_tag("#{@countdown.id}/search", method: "get") do %>
      <%= label_tag(:q, "Please enter the code:") %>
      <%= text_field_tag(:q, nil, placeholder: "-" * @countdown.code.length) %>
      <%= submit_tag "Submit", style: "display:none;" %>
    <% end %>
  </div>

  <%= content_tag :div, class: "temp_information", data: {countdown: @countdown, lockout_remaining: @countdown.lockout_remaining, time_remaining: @countdown.time_remaining} do %>
  <% end %>

</body>

<script>
  $('#q').bind('input propertychange', function() {
    var input = $("#q").val().replace(/-/g, "");
    var position = input.length
    var times = countdown.code.length - position;
    var new_input_text = input
    for(var i=0; i < times; i++){
      new_input_text += "-";
    }
    $("#q").val(new_input_text);
    if (times == 0 ) {
      $( "form" ).trigger( "submit" );
    }
    $("#q").focus().setCursorPosition(position);
  });

  $.fn.setCursorPosition = function (pos) {
      this.each(function (index, elem) {
          if (elem.setSelectionRange) {
              elem.setSelectionRange(pos, pos);
          } else if (elem.createTextRange) {
              var range = elem.createTextRange();
              range.collapse(true);
              range.moveEnd('character', pos);
              range.moveStart('character', pos);
              range.select();
          }
      });
      return this;
  };
</script>

<script>
  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    return {
      'total': t,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        hoursSpan.innerHTML = ('0').slice(-2);
        minutesSpan.innerHTML = ('0').slice(-2);
        secondsSpan.innerHTML = ('0').slice(-2);
        clearInterval(timeinterval);
        if (time_remaining > 0) {
          // console.log("timer")
          // this triggers a refresh so that the page will switch from lockout back to regular timer,
          // but casues the page to refresh if the code is guessed before time is up
          window.location.reload(true)
        }
      }
      if (t.total == 120000) {
        window.location.reload(true)
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  var countdown = $('.temp_information').data('countdown')
  var lockout_remaining = $('.temp_information').data('lockoutRemaining')
  var time_remaining = $('.temp_information').data('timeRemaining')
  var deadline = new Date(Date.parse(new Date()) + countdown.seconds * 1000)
  initializeClock('clockdiv', deadline);

  if (lockout_remaining > 0 && time_remaining > 120) {
    $('#text-input').hide();
    $('body').attr('style', 'background:red')
    $('#clockdiv').children().attr('style', 'background:red')
  }
</script>

<script type="text/javascript">
  var clock = $('.clock').FlipClock(countdown.seconds, {
    countdown: true
  });
</script>
