<h3>Edit My Account Information</h3>

<p>Name: <%= @user.full_name if @user.first_name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Change My password", edit_user_registration_path %>
<%= link_to "Back", :back %>
