<h3>My Account</h3>
<div class="w3-center w3-card">
  <p>Name: <%= @user.full_name if @user.first_name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <% if current_user.admin? %>
    <%= link_to "Manage Users", users_path, class: "w3-grey w3-center w3-button" %>
    <p></p>
    <!-- backup countdown button for admins only -->
    <%= button_to("Begin Countdown", countdowns_path, params: {purchased_game_id: PurchasedGame.first.id}, class: "w3-grey w3-center w3-button" ) %>
  <% end %><br>
  <%= link_to "Update My Account Information", edit_user_path(current_user) %>
  <br>
  <%= link_to "Change My password", edit_user_registration_path %>
</div>
<div>
  <ul>
  <% @orders.each do |order| %>
    <div class="w3-card">
      <p>Total amount: <%= number_to_currency(order.total/100) %></p>
      <% if order.purchased_at %>
        <p>Purchase date: <time datetime="<%= order.purchased_at %>" class="local_time"></time></p>
      <% end %>
      <ul>
        <% order.games.each do |game| %>
          <p><%= link_to game.title, game_path(game) %></p>
          <% if game.countdown? %>
            <%= button_to("Begin Countdown", countdowns_path, params: {purchased_game_id: PurchasedGame.where(game: game, order: order).first.id}, class: "w3-grey w3-center w3-button" ) %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  </ul>
</div>
