<h1>Shopping Cart</h1>
<% @order.purchased_games.each do |purchased_game| %>
  <p><%= purchased_game.quantity %> X <%= purchased_game.game.title %>: <%= number_to_currency(purchased_game.subtotal/100) %></p>
  <p></p>
<% end %>
<p>Order Total: <%= number_to_currency(@order.total/100) %></p>
<%= render :template => 'charges/new', locals: {order: @order} %>
<br>
<p>Speakeasy Games are built around <span class="w3-text-green">players</span> with incomplete knowledge and a <span class="w3-text-red">moderator</span> (or moderators) with full knowledge of the plot, players' goals, and mysteries of the universe.  <b class="w3-text-black">Only read the moderator packet if you are planning on being the moderator.</b>  Moderator packets will be delivered by e-mail. When checking out, make sure you use an email address that the <b class="w3-text-black">moderator</b> has access to.</p>