<h1><%= @game.title %></h1>
<p><%= link_to "Delete Game", game_path(@game), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this game? This cannot be undone.'} %></p>
<div>
  <%= form_for @game, url: game_path, html: { multipart: true } do |form| %>
    <div>
      <h2>Title:</h2>
      <%= form.text_area :title %>
    </div>
    <div>
      <h2>Teaser:</h2>
      <%= form.text_area :teaser %>
    </div>
    <div>
      <h2>Included:</h2>
      <%= form.text_area :included %>
    </div>
    <div>
      <h2>Not included:</h2>
      <%= form.text_area :not_included %>
    </div>
    <div>
      <h2>Host Difficulty:</h2>
      <%= form.select :difficulty, options_for_select([ "Easy", "Medium", "Difficult", "Very Difficult" ], @game.difficulty) %>
    </div>
    <div>
      <h2>Host Notes:</h2>
      <%= form.text_area :notes %>
    </div>
    <div>
      <h2>Price (in cents):</h2>
      <%= form.text_field :price %>
    </div>
    <% if @game.cover_photo %>
      <h2>Change Cover Photo:</h2>
      <div>
        <%= image_tag(@game.cover_photo.img.url(:medium), id: @game.cover_photo.id) %>
        <p><%= form.file_field :cover_photo %></p>
        <%= link_to "Delete Cover Photo", cover_photo_path(@game.cover_photo), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this photo?'} %>

      </div>
    <% else %>
      <h2>Add Cover Photo:</h2>
      <div>
        <%= form.file_field :cover_photo %>
      </div>
    <% end %>
    <div>
      <h2>Add Photos:</h2>
      <%= form.file_field :images, multiple: true %>
    </div>
    <% if @game.photos.count > 0 %>
      <div>
        <h2>Delete Photos:</h2>
        <% @game.photos.each do |photo| %>
          <%= image_tag(photo.img.url(:medium), id: photo.id) %>
          <%= link_to "Delete", photo_path(photo), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this photo?'} %>
        <% end %>
      </div>
    <% end %>
    <div>
      <h2>Testimonials:</h2>
      <p>Use the box below to add a new testimonial.  Just one at a time for now.  An empty box will not create a new testimonial.</p>
      <% @game.testimonials.select {|t| t.id == nil}.each do |testimonial| %>
        <%= form.fields_for :testimonials, testimonial do |ff| %>
          <%= render "testimonial_fields", ff: ff %>
        <% end %>
      <% end %>

      <p>Use the box(es) below to edit or delete existing testimonials.</p>
      <% @game.testimonials.order(created_at: :desc).each do |testimonial| %>
        <%= form.fields_for :testimonials, testimonial do |ff| %>
          <%= render "testimonial_fields", ff: ff %>
          <%= link_to "Delete Testimonial", testimonial_path(testimonial), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this testimonial?'} %>
        <% end %>
      <% end %>

    </div>

    <h2>Host Packet:</h2>
    <% if @game.has_packet? %>
      <p><%=@game.packet%></p>
      <%= link_to("Download", @game.packet.url) %>
    <% end %>
    <div>
      <%= form.file_field :packet %>
    </div>

    <h2>Player Packets:</h2>
    <p>Use the box below to add a new character.  Just one at a time for now.  An empty box will not create a new character.</p>
    <% @game.characters.select {|c| c.id == nil}.each do |character| %>
      <%= form.fields_for :characters, character do |ff| %>
        <%= render "character_fields", ff: ff %>
      <% end %>
    <% end %>

    <p>Use the fields below to edit or delete existing characters:</p>
    <% @game.characters.select {|c| c.id != nil}.each do |character| %>
      <%= form.fields_for :characters, character do |ff| %>
        <p>
          <%= ff.label :name %>
          <%= ff.text_field :name %>
        </p>
        <p>
          <p>Current URL: <%= ff.object.player_packet %></p>
          <p><%= link_to("Download Current Player Packet", ff.object.player_packet.url) %></p>
          <%= ff.label :update_player_packet %>
          <%= ff.file_field :player_packet %>

          <% if ff.object.persisted? %>
            <%= ff.check_box :_destroy %>
            <%= ff.label :_destroy, "Destroy" %>
          <% end %>
        </p>
        <p>------------------------------------------------------------------</p>
      <% end %>
    <% end %>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to "Back", game_path(@game), class: "w3-bar-item w3-button w3-left" %>
</div>
