<h1><%= @game.title %></h1>
<p><%= link_to "Delete Game", game_path(@game), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this game? This cannot be undone.'} %></p>
<div>
  <%= form_for @game, url: game_path, html: { multipart: true } do |form| %>
    <div>
      <h2>Title:</h2>
      <%= form.text_area :title %>
    </div>
    <div>
      <h2>Teaser:</h2>
      <%= form.text_area :teaser %>
    </div>
    <div>
      <h2>Included:</h2>
      <%= form.text_area :included %>
    </div>
    <div>
      <h2>Not included:</h2>
      <%= form.text_area :not_included %>
    </div>
    <div>
      <h2>Moderator Difficulty:</h2>
      <%= form.select :difficulty, options_for_select([ "Easy", "Medium", "Difficult", "Very Difficult" ], @game.difficulty) %>
    </div>
    <div>
      <h2>Moderator Notes:</h2>
      <%= form.text_area :notes %>
    </div>
    <div>
      <h2>Price (in cents):</h2>
      <%= form.text_field :price %>
    </div>
    <% if @game.cover_photo %>
      <h2>Change Cover Photo:</h2>
      <div>
        <%= image_tag(@game.cover_photo.img.url(:medium), id: @game.cover_photo.id) %>
        <%= form.file_field :cover_photo %>
      </div>
    <% else %>
      <h2>Add Cover Photo:</h2>
      <div>
        <%= form.file_field :cover_photo %>
      </div>
    <% end %>
    <div>
      <h2>Add Photos:</h2>
      <%= form.file_field :images, multiple: true %>
    </div>
    <% if @game.photos.count > 0 %>
      <div>
        <h2>Delete Photos:</h2>
        <% @game.photos.each do |photo| %>
          <%= image_tag(photo.img.url(:medium), id: photo.id) %>
          <%= link_to "Delete", photo_path(photo), method: "DELETE", :data => {:confirm => 'Are you sure you want to delete this photo?'} %>
        <% end %>
      </div>
    <% end %>
    <h2>Moderator Packet:</h2>
      <% if @game.packet.url != "nil" %>
        <p><%=@game.packet%></p>
        <%= link_to("Download", @game.packet.url) %>
      <% end %>
      <div>
        <%= form.file_field :packet %>
      </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "Back", game_path(@game), class: "w3-bar-item w3-button w3-left" %>
</div>
