<!-- Image header -->
<div class="w3-display-container w3-container">
  <%= image_tag "cowboy.jpg", alt:"Yippe Kayay!", style:"width:100%" %>
  <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
    <h1 class="w3-jumbo w3-hide-small">Welcome!</h1>
    <h1 class="w3-hide-large w3-hide-medium">Welcome!</h1>
    <h1 class="w3-hide-small">Kill your friends, grab the loot.</h1>
  </div>
</div>

<div>
  <p>Speakeasy Games sells immersive cocktail party games. Our games present tangled webs of backstories and conflicting interests that play out in a way that is entirely unique to each group of players. They are not classic "Murder Mysteries" because anybody can be the murderer-- or the victim. Each player comes to the game with different knowledge, a different perspective, and different goals. As each of them decides who to trust, who to betray, and who to callously manipulate for their own selfish ends, the larger shape of the plots will emerge. And, unlike your grandpa's immersive cocktail murder game extravaganzas, Speakeasy Games' plots can get very, very, weird. Each game can be played only once by the same group of people-- after that, the players will know too much.</p>
</div>

<!-- Product grid -->
<div class="w3-row w3-grayscale", style="display: table-row">
  <% @games.each do | game | %>
    <div class="w3-col l3 s6", style="display: table-cell; height:400px">
      <div class="w3-container">
        <% if game.cover_photo %>
          <%= image_tag(game.cover_photo.img.url(:medium), style:"width:100%") %>
        <% else %>
          <%= image_tag "cowboy.jpg", alt:"Yippe Kayay!", style:"width:100%" %>
        <% end %>
        <div class="w3-center">
          <br>
          <%= form_tag(orders_path) do %>
            <%= hidden_field_tag 'game_id', game.id %>
            <div><%= submit_tag 'Add to Cart' %></div>
          <% end %>
        </div>
        <p><%= link_to game.title, game_path(game) %><br><b><%= number_to_currency(game.price/100) %></b></p>
      </div>
    </div>
  <% end %>
</div>

