<div>
  <h1><%= @game.title %></h1>
  <h2>About the game:</h2>
  <p><%= @game.teaser %></p>
  <h2>What's Included: </h2>
  <p><%= @game.included %></p>
  <h2>What's Not Included: </h2>
  <p><%= @game.not_included %></p>
  <h2>Difficulty Level: </h2>
  <p><%= @game.difficulty %></p>
  <h2>Price: </h2>
  <p><%= number_to_currency(@game.price) %></p>
  <h2>Photos</h2>
  <% @game.photos.each do |photo| %>
    <%= image_tag(photo.img.url(:medium)) %>
  <% end %>
</div>
<div>
  <%= link_to "Edit", edit_game_path(@game) %> | <%= link_to "Home", root_path %>
</div>
<%= link_to "Buy the Game", new_charge_path  %>
<div>
  <form action=<%= charge_path %> method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_8pCT2xKYCt5FLoxUdBuQIwcQ"
      data-amount="2000"
      data-name="Demo Site"
      data-description="2 widgets"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-zip-code="true"
      data-locale="auto">
    </script>
  </form>
</div>