<div>
  <h1><%= @game.title %></h1>
  <p>An Immersive Cocktail Party Game for <%= @game.player_min %> to <%= @game.player_max %> Players</p>
  <% if @game.packet.has_packet? %>
    <p>Price: <%= number_to_currency(@game.price/100) %></p>
    <%= form_tag(orders_path) do %>
      <%= hidden_field_tag 'game_id', @game.id %>
      <div><%= submit_tag 'Add to Cart' %></div>
    <% end %>
  <% else %>
    <p>COMING SOON!</p>
  <% end %>
  <h2>About the game:</h2>
  <p><%= @game.teaser %></p>
  <h2>What's Included: </h2>
  <p><%= @game.included %></p>
  <h2>What's Not Included: </h2>
  <p><%= @game.not_included %></p>
  <h2>Moderator Difficulty Level: </h2>
  <p><%= @game.difficulty %></p>
  <h2>Playing Time: </h2>
  <p><%= @game.play_time %> hours</p>
  <h2>Moderator Prep Time:</h2>
  <p>wildly variable, but at least <%= @game.prep_time %> hours</p>
  <h2>Moderator Notes: </h2>
  <p>Speakeasy Games are built around <span class="w3-text-green">players</span> with incomplete knowledge and a <span class="w3-text-red">moderator</span> (or moderators) with full knowledge of the plot, players' goals, and mysteries of the universe.  <b class="w3-text-black">Only read the moderator packet if you are planning on being the moderator.</b></p>
  <p><%= @game.notes %></p>
  <h2>Photos</h2>
  <% @game.photos.each do |photo| %>
    <%= image_tag(photo.img.url(:medium)) %>
  <% end %>
</div>
