<div>
  <h1><%= @game.title %></h1>
  <p>An Immersive Cocktail Party Game for <%= @game.player_min %> to <%= @game.player_max %> Players</p>
  <% if @game.has_packet? %>
    <p>Price: <%= number_to_currency(@game.price/100) %></p>
    <%= form_tag(orders_path) do %>
      <%= hidden_field_tag 'game_id', @game.id %>
      <div><%= submit_tag 'Add to Cart' %></div>
    <% end %>
  <% else %>
    <p>COMING SOON!</p>
  <% end %>
  <h2>About the game:</h2>
  <p><%= @game.teaser %></p>
  <h2>What's Included: </h2>
  <p><%= @game.included %></p>
  <h2>What's Not Included: </h2>
  <p><%= @game.not_included %></p>
  <h2>Host Difficulty Level: </h2>
  <p><%= @game.difficulty %></p>
  <h2>Playing Time: </h2>
  <p><%= @game.play_time %> hours</p>
  <h2>Host Prep Time:</h2>
  <p>wildly variable, but at least <%= @game.prep_time %> hours</p>
  <h2>Host Notes: </h2>
  <p>Speakeasy Games are built around <span class="w3-text-green">players</span> with incomplete knowledge and a <span class="w3-text-red">host</span> (or hosts) with full knowledge of the plot, players' goals, and mysteries of the universe.  <b class="w3-text-black">Only read the host packet if you are planning on being the host.</b>  Host packets will be delivered by e-mail. When checking out, make sure you use an email address that the <b class="w3-text-black">host</b> has access to.</p>
  <p><%= @game.notes %></p>
  <% if @game.photos.count > 0 %>
    <h2>Photos</h2>
    <% @game.photos.each do |photo| %>
      <%= image_tag(photo.img.url(:medium), onerror: "this.style.display='none'") %>
    <% end %>
  <% end %>
  <% if @game.testimonials.count > 0 %>
    <h2>Testimonials</h2>
    <% @game.testimonials.each do |testimonial| %>
      <p><%= testimonial.description %></p>
    <% end %>
  <% end %>
</div>
